@{
    Layout = "LayoutChecker";
}

<body class="page1">
    <div class="text-center">
        <div class="p">
            <h5>Здравствуйте, товарищ проверяющий!</h5>
        </div>
    </div>
</body>