@{
    Layout = "_Layout";
}

<body class="page1">
    <div class="text-center">
        <div class="p">
            <h5>Здравствуйте, товарищ главный администратор!</h5>
        </div>
    </div>
</body>